In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/absh86090@gmail.com/Customers.csv")

In [0]:
df1.take(5)

Out[3]: [Row(Customer_ID='129609144', Gender='M', First_Date='20130130', First_region='West', First_state='Gujarat', First_city='Surat', Recent_Date='20130216', Last_region='West', Last_state='Gujarat', Last_city='Surat', Customer_Value='2032', Buy_Times='2', Points_Earned='200', Points_Redeemed='0'),
 Row(Customer_ID='129627580', Gender='M', First_Date='20130129', First_region='North', First_state='Delhi', First_city='Delhi', Recent_Date='20130129', Last_region='North', Last_state='Delhi', Last_city='Delhi', Customer_Value='1709', Buy_Times='1', Points_Earned='100', Points_Redeemed='0'),
 Row(Customer_ID='130363481', Gender='M', First_Date='20130221', First_region='West', First_state='Gujarat', First_city='Surat', Recent_Date='20130221', Last_region='West', Last_state='Gujarat', Last_city='Surat', Customer_Value='523', Buy_Times='1', Points_Earned='10', Points_Redeemed='0'),
 Row(Customer_ID='49817480', Gender='M', First_Date='20130222', First_region='West', First_state='Maharashtra', First_city='Pimpri-Chinchwad', Recent_Date='20130222', Last_region='West', Last_state='Maharashtra', Last_city='Pimpri-Chinchwad', Customer_Value='5132', Buy_Times='1', Points_Earned='170', Points_Redeemed='0'),
 Row(Customer_ID='126343829', Gender='F', First_Date='20130301', First_region='North', First_state='Delhi', First_city='Delhi', Recent_Date='20130301', Last_region='North', Last_state='Delhi', Last_city='Delhi', Customer_Value='1008', Buy_Times='1', Points_Earned='60', Points_Redeemed='0')]

In [0]:
df1.show()

+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
|Customer_ID|Gender|First_Date|First_region|   First_state|      First_city|Recent_Date|Last_region|    Last_state|       Last_city|Customer_Value|Buy_Times|Points_Earned|Points_Redeemed|
+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
|  129609144|     M|  20130130|        West|       Gujarat|           Surat|   20130216|       West|       Gujarat|           Surat|          2032|        2|          200|              0|
|  129627580|     M|  20130129|       North|         Delhi|           Delhi|   20130129|      North|         Delhi|           Delhi|          1709|        1|          100|              0|
|  130363481|     M|  20130221|        West|       Gujarat|           Surat|   20130221|       West|       Gujarat|           Surat|           523|        1|           10|              0|
|   49817480|     M|  20130222|        West|   Maharashtra|Pimpri-Chinchwad|   20130222|       West|   Maharashtra|Pimpri-Chinchwad|          5132|        1|          170|              0|
|  126343829|     F|  20130301|       North|         Delhi|           Delhi|   20130301|      North|         Delhi|           Delhi|          1008|        1|           60|              0|
|    8223758|     F|  20130314|        West|       Gujarat|           Surat|   20130314|       West|       Gujarat|           Surat|        2606.9|        1|         1140|              0|
|  131816709|     M|  20130318|       South|Andhra Pradesh|   Visakhapatnam|   20130318|      South|Andhra Pradesh|   Visakhapatnam|          1369|        1|           79|              0|
|  118543320|     F|  20130321|       North| Uttar Pradesh|          Kanpur|   20130321|      North| Uttar Pradesh|          Kanpur|          5690|        1|          360|              0|
|  131365512|     M|  20130323|        East|   West Bengal|         Kolkata|   20130331|       East|   West Bengal|         Kolkata|          2555|        2|          190|              0|
|     758571|     M|  20130324|       South|     Karnataka|       Bangalore|   20130325|       West|   Maharashtra|           Thane|        2677.8|        3|          145|              0|
|   85489184|     M|  20120101|        West|   Maharashtra|          Nagpur|   20120101|       West|   Maharashtra|          Nagpur|           855|        1|           35|              0|
|   85438231|     M|  20120103|        West|   Maharashtra|          Mumbai|   20121111|       East|   West Bengal|        Bhatpara|          5969|        5|          294|              0|
|   74053888|     F|  20120102|        West|       Gujarat|           Surat|   20130314|       West|       Gujarat|           Surat|      9142.497|       10|          639|              2|
|    7256956|     M|  20120102|       North|     Rajasthan|          Jaipur|   20121126|      North|     Rajasthan|          Jaipur|        8019.6|        5|          609|              0|
|    1610085|     F|  20120103|       North|         Delhi|           Delhi|   20121013|      North|         Delhi|           Delhi|     10380.199|        6|         1189|              0|
|    7518872|     M|  20120104|       North| Uttar Pradesh|          Kanpur|   20130123|      North| Uttar Pradesh|          Kanpur|         14587|        6|          865|              0|
|    8638553|     M|  20120103|        West|       Gujarat|       Ahmedabad|   20120103|       West|       Gujarat|       Ahmedabad|          1011|        1|          115|              0|
|   85438392|     M|  20120103|        West|       Gujarat|       Ahmedabad|   20130212|      South|     Telangana|       Hyderabad|        6065.3|        5|          485|              0|
|   63508964|     M|  20120106|        West|   Maharashtra|Pimpri-Chinchwad|   20130222|       West|   Maharashtra|Pimpri-Chinchwad|    145472.702|       36|          680|          16635|
|   23667984|     F|  20120107|        West|   Maharashtra|          Nagpur|   20130313|       West|   Maharashtra|          Nagpur|       19640.7|       12|          268|           2549|
+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import col

In [0]:
df1.filter(col("Gender")=='M').show(5)

+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
|Customer_ID|Gender|First_Date|First_region|   First_state|      First_city|Recent_Date|Last_region|    Last_state|       Last_city|Customer_Value|Buy_Times|Points_Earned|Points_Redeemed|
+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
|  129609144|     M|  20130130|        West|       Gujarat|           Surat|   20130216|       West|       Gujarat|           Surat|          2032|        2|          200|              0|
|  129627580|     M|  20130129|       North|         Delhi|           Delhi|   20130129|      North|         Delhi|           Delhi|          1709|        1|          100|              0|
|  130363481|     M|  20130221|        West|       Gujarat|           Surat|   20130221|       West|       Gujarat|           Surat|           523|        1|           10|              0|
|   49817480|     M|  20130222|        West|   Maharashtra|Pimpri-Chinchwad|   20130222|       West|   Maharashtra|Pimpri-Chinchwad|          5132|        1|          170|              0|
|  131816709|     M|  20130318|       South|Andhra Pradesh|   Visakhapatnam|   20130318|      South|Andhra Pradesh|   Visakhapatnam|          1369|        1|           79|              0|
+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
only showing top 5 rows

In [0]:
df1.describe().show()

+-------+-------------------+-------+-----------------+------------+--------------+-------------+-----------------+-----------+--------------+---------+------------------+------------------+------------------+------------------+
|summary|        Customer_ID| Gender|       First_Date|First_region|   First_state|   First_city|      Recent_Date|Last_region|    Last_state|Last_city|    Customer_Value|         Buy_Times|     Points_Earned|   Points_Redeemed|
+-------+-------------------+-------+-----------------+------------+--------------+-------------+-----------------+-----------+--------------+---------+------------------+------------------+------------------+------------------+
|  count|              10000|   9986|            10000|        9979|          9983|        10000|            10000|      10000|         10000|    10000|              9964|             10000|              9979|              9988|
|   mean|    8.34790356112E7|   null|  2.01219906882E7|        null|          null|         null|  2.01253674226E7|       null|          null|     null|12544.894138822723|            5.4776| 529.3557470688446| 582.2110532639167|
| stddev|4.802528617803871E7|   null|3424.373101765233|        null|          null|         null|4744.994769201123|       null|          null|     null|  65467.7054311766|11.677830937872878|1861.3156769926272|15212.779443824147|
|    min|           10000798|      F|         20120101|        East|Andhra Pradesh|     Agartala|         20120101|       East|Andhra Pradesh| Agartala|                 0|                 1|                 0|                 0|
|    max|            9997280|unknown|         20130331|        West|   West Bengal|Visakhapatnam|         20130331|       West|   West Bengal| Warangal|          9995.996|                95|               997|              9980|
+-------+-------------------+-------+-----------------+------------+--------------+-------------+-----------------+-----------+--------------+---------+------------------+------------------+------------------+------------------+

In [0]:
from pyspark.sql.functions import sum
df1.select("Customer_ID","Buy_Times").groupBy("Customer_Id").agg(sum("Buy_Times").alias("sum_buy_times")).show(5)

+-----------+-------------+
|Customer_Id|sum_buy_times|
+-----------+-------------+
|  115750273|         10.0|
|  116853781|          4.0|
|   85230771|          4.0|
|  122971481|          2.0|
|   63547346|          1.0|
+-----------+-------------+
only showing top 5 rows

In [0]:
from pyspark.sql.types import IntegerType
df2 = df1.withColumn("Buy_Times",df1["Buy_Times"].cast(IntegerType()))

In [0]:
df2.groupBy("Customer_Id").agg(sum("Buy_Times"),max("Buy_Times")).show(5)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<command-1364783599192472> in <module>
----> 1 df2.groupBy("Customer_Id").agg(sum("Buy_Times"),max("Buy_Times")).show(5)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [0]:
from pyspark.sql.functions import isnan, when, count, col
import pyspark.sql.functions as F
df2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df2.columns]).show()

+-----------+------+----------+------------+-----------+----------+-----------+-----------+----------+---------+--------------+---------+-------------+---------------+
|Customer_ID|Gender|First_Date|First_region|First_state|First_city|Recent_Date|Last_region|Last_state|Last_city|Customer_Value|Buy_Times|Points_Earned|Points_Redeemed|
+-----------+------+----------+------------+-----------+----------+-----------+-----------+----------+---------+--------------+---------+-------------+---------------+
|          0|    14|         0|          21|         17|         0|          0|          0|         0|        0|            36|        0|           21|             12|
+-----------+------+----------+------------+-----------+----------+-----------+-----------+----------+---------+--------------+---------+-------------+---------------+

In [0]:
df2.select("Buy_Times").dtypes

Out[41]: [('Buy_Times', 'int')]

In [0]:
df2.show()

+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
|Customer_ID|Gender|First_Date|First_region|   First_state|      First_city|Recent_Date|Last_region|    Last_state|       Last_city|Customer_Value|Buy_Times|Points_Earned|Points_Redeemed|
+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
|  129609144|     M|  20130130|        West|       Gujarat|           Surat|   20130216|       West|       Gujarat|           Surat|          2032|        2|          200|              0|
|  129627580|     M|  20130129|       North|         Delhi|           Delhi|   20130129|      North|         Delhi|           Delhi|          1709|        1|          100|              0|
|  130363481|     M|  20130221|        West|       Gujarat|           Surat|   20130221|       West|       Gujarat|           Surat|           523|        1|           10|              0|
|   49817480|     M|  20130222|        West|   Maharashtra|Pimpri-Chinchwad|   20130222|       West|   Maharashtra|Pimpri-Chinchwad|          5132|        1|          170|              0|
|  126343829|     F|  20130301|       North|         Delhi|           Delhi|   20130301|      North|         Delhi|           Delhi|          1008|        1|           60|              0|
|    8223758|     F|  20130314|        West|       Gujarat|           Surat|   20130314|       West|       Gujarat|           Surat|        2606.9|        1|         1140|              0|
|  131816709|     M|  20130318|       South|Andhra Pradesh|   Visakhapatnam|   20130318|      South|Andhra Pradesh|   Visakhapatnam|          1369|        1|           79|              0|
|  118543320|     F|  20130321|       North| Uttar Pradesh|          Kanpur|   20130321|      North| Uttar Pradesh|          Kanpur|          5690|        1|          360|              0|
|  131365512|     M|  20130323|        East|   West Bengal|         Kolkata|   20130331|       East|   West Bengal|         Kolkata|          2555|        2|          190|              0|
|     758571|     M|  20130324|       South|     Karnataka|       Bangalore|   20130325|       West|   Maharashtra|           Thane|        2677.8|        3|          145|              0|
|   85489184|     M|  20120101|        West|   Maharashtra|          Nagpur|   20120101|       West|   Maharashtra|          Nagpur|           855|        1|           35|              0|
|   85438231|     M|  20120103|        West|   Maharashtra|          Mumbai|   20121111|       East|   West Bengal|        Bhatpara|          5969|        5|          294|              0|
|   74053888|     F|  20120102|        West|       Gujarat|           Surat|   20130314|       West|       Gujarat|           Surat|      9142.497|       10|          639|              2|
|    7256956|     M|  20120102|       North|     Rajasthan|          Jaipur|   20121126|      North|     Rajasthan|          Jaipur|        8019.6|        5|          609|              0|
|    1610085|     F|  20120103|       North|         Delhi|           Delhi|   20121013|      North|         Delhi|           Delhi|     10380.199|        6|         1189|              0|
|    7518872|     M|  20120104|       North| Uttar Pradesh|          Kanpur|   20130123|      North| Uttar Pradesh|          Kanpur|         14587|        6|          865|              0|
|    8638553|     M|  20120103|        West|       Gujarat|       Ahmedabad|   20120103|       West|       Gujarat|       Ahmedabad|          1011|        1|          115|              0|
|   85438392|     M|  20120103|        West|       Gujarat|       Ahmedabad|   20130212|      South|     Telangana|       Hyderabad|        6065.3|        5|          485|              0|
|   63508964|     M|  20120106|        West|   Maharashtra|Pimpri-Chinchwad|   20130222|       West|   Maharashtra|Pimpri-Chinchwad|    145472.702|       36|          680|          16635|
|   23667984|     F|  20120107|        West|   Maharashtra|          Nagpur|   20130313|       West|   Maharashtra|          Nagpur|       19640.7|       12|          268|           2549|
+-----------+------+----------+------------+--------------+----------------+-----------+-----------+--------------+----------------+--------------+---------+-------------+---------------+
only showing top 20 rows